table th , table td{
  text-align: center;
  border: 0.5px solid black;
}
th {
  background: #1D3C26;
  color: #EADFCE;
  }
  table tr:nth-child(even){
    background-color: #e4e3e3;
  }
.lst-search{
  width: 20%;
  float: right;
  margin-bottom:10px;
}
table{
  border: 1px solid black;
}
