table th , table td{
  text-align: center;
  border: 0.5px solid black;
}
th {
  background: brown;
  color: #fff;
  }
  table tr:nth-child(even){
    background-color: #d9c99c
  }
.lst-search{
  width: 20%;
  float: right;
  margin-bottom:10px;
}
table{
  border: 1px solid black;
}
