h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  padding: 5px 15px;
  background: #1D3C26;
  color: #EADFCE;
  border-bottom: 5px solid #578F53;
}
ul{
  border: 1px solid #1D3C26;
}
ul li{
  margin: 0;
  border: 0;
}
.row{
  margin: 0;
  padding: 0;
}
label{
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.container{
  padding: 0;
  background: #EADFCE;
}
.spacer {
  flex: 1;
}

.book-image{
  min-width: 160px;
  max-width: 165px;
  min-height: 240px;
  max-height: 248px;
  width: auto;
  height: auto;
  align-items: center;
  background: #fff;
}

.end-form{
  padding-bottom: 15px;
}

.form-control{
  width: 50%;
}
