<head>
  <base href="/Search">
</head>
<div class="container">
  <div class="row">
    <input type="searchBook"id="input-search-book" class="col-sm-6 form-control" placeholder="Search here..." [(ngModel)]="txtSearch">
    <button id="book-name" class="btn col-sm-2" (click)="btnFindBookName()">Book Name</button>
    <button id="author-name" class="btn col-sm-2" (click)="btnFindAuthorName()">Author Name</button>
    <button id="subject" class="btn col-sm-2" (click)="btnFindSubject()">Subject</button>
  </div>
  <div>
    <h1>Books:</h1>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" *ngFor="let book of books;">
        <a [routerLink]="['/Book', book.isbn]">
          <img src="{{book.image}}" class="img-responsive book-image" alt="BookImage">
          <label>{{book.name}}</label>
        </a>
      </div>
    </div>
  </div>
</div>

<app-book-detail
*ngIf="bookClicked != -1"
[bookId]="bookClicked"></app-book-detail>
