<div class="container">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
      <form name="form" [formGroup]="form" (ngSubmit)="onSubmit() && form.valid" class="container">

        <div class="row">
          <h1>Login</h1>
        </div>
        <hr>
        <div class="row">
          <label for="username">Username
            <input type="text" class="form-control" id="username" required formControlName="userName"
              [(ngModel)]="userLogin.username"
              [ngClass]="{'is-invalid':form.get('userName').touched && form.get('userName').invalid}" name="username" />
          </label>
          <div *ngIf="form.get('userName').touched && form.get('userName').invalid" class="invalid-feedback">
            <div *ngIf="form.get('userName').errors.required" style="color: red;">UserName invalid</div>
            <div *ngIf="form.get('userName').errors.minlength" style="color: red;">UserName must be at least 3 charector
            </div>
          </div>
        </div>

        <div class="row">
          <label for="passWord">Password
            <input type="password" class="form-control" id="password" required formControlName="passWord"
              [ngClass]="{'is-invalid':form.get('passWord').touched && form.get('passWord').invalid}"
              [(ngModel)]="userLogin.password" name="password" />
          </label>

          <div *ngIf="form.get('passWord').touched && form.get('passWord').invalid" class="invalid-feedback">
            <div *ngIf="form.get('passWord').errors.required" style="color: red;">Password is required</div>
            <div *ngIf="form.get('passWord').errors.minlength" style="color: red;">Password must be at least 3 charector
            </div>
          </div>
        </div>

        <div class="row">
          <button type="submit" [disabled]="isLogin ||  !form.valid">Login</button>
        </div>
        <hr>
        <div class="row">
          <div id="signUpLink">
            <br>
            <a [routerLink]="['/SignUp']">Don't have an account ?</a>
          </div>
        </div>

      </form>
    </div>

    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>

  </div>


</div>
<ngx-spinner></ngx-spinner>
