<form>
  <div class="form-container">
    <div class="row-columns">
      <h1 style="color: brown;">Login</h1>
      <label id="userName">Username
        <input type="text" class="form-control" id="username" required minlength="3" [(ngModel)]="userLogin.username"
          name="username" #username="ngModel" />
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
          Username invalid
        </div>
      </label>
      <label id="passWord">Password
        <input type="password" class="form-control" id="password" required minlength="3"
          [(ngModel)]="userLogin.password" name="password" #password="ngModel" />
      </label>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password invalid
      </div>
      <button type="submit" (click)="onSubmit()">Login</button>
      <div id="signUpLink">
        <br>
        <a href="">Don't have an account ?</a>
      </div>
    </div>
  </div>
</form>
