<div class="container">
  <div class="header_wrap">
    <div class="num_rows">
      <div class="form-group">
        <!--		Show Numbers Of Rows 		-->
        <select class="form-control" name="state" id="maxRows" [(ngModel)]="itemsPerPage">
          <option value="5" selected >5</option>
          <option value="10">10</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <div class="tb_search">
      <input type="text" placeholder="Search.." class="form-control" />
    </div>
  </div>
  <table class="table table-striped table-class">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Birth</th>
        <th>Address</th>
        <th [hidden]="role != 0 && role != 1">Role</th>
        <th [hidden]="role != 0 && role != 1">AP</th>
        <th>Edit</th>
        <th>Active</th>
        <th>Block</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let account of accounts | paginate: { itemsPerPage: itemsPerPage, currentPage: p}">
        <td>
          <a [routerLink]="['/Account', account.username]">
            {{ account.username }}
          </a>
        </td>
        <td>{{ account.email }}</td>
        <td>{{ account.birth }}</td>
        <td>{{ account.address }}</td>
        <td [hidden]="role != 0 && role != 1">{{ account.role }}</td>
        <td [hidden]="role != 0 && role != 1">{{ account.account_point }}</td>
        <td>
            <button
              type="button"
              class="btn btn-info"
              [routerLink]="['/EditAccount', account.username]"
              routerLinkActive="router-link-active"
            >
              V
            </button>
          </td>
        <td>
          <button
            type="button"
            class="btn btn-success"
            [disabled]="account.role == 'admin'"
            *ngIf="account.active"
            (click)="btnActiveAccount(account.username)"
          >
            O
          </button>
          <button
            type="button"
            class="btn btn-error"
            *ngIf="!account.active"
            (click)="btnActiveAccount(account.username)"
          >
            X
          </button>
        </td>
        <td>
            <button
              type="button"
              class="btn btn-success"
              [disabled]="account.role == 'admin'"
              *ngIf="!account.block"
              (click)="btnBlockAccount(account.username)"
            >
              O
            </button>
            <button
              type="button"
              class="btn btn-error"
              [disabled]="account.role == 'admin'"
              *ngIf="account.block"
              (click)="btnBlockAccount(account.username)"
            >
              X
            </button>
          </td>
      </tr>
    </tbody>
    <tbody></tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
