<div class="container">
  <form name="form" [formGroup]="form">
    <div class="info-box">
      <div style="border-bottom: 2px solid black; border-radius: 3px;">
        <h2 style="text-align: center;">Edit Account</h2>
      </div>
      <div class="info-edt">
        <h4 for="userName">User name</h4>
        <input type="text" class="form-control" id="txt-username" value="{{edtUser.username}} "
          formControlName="userName" [(ngModel)]="edtUser.username">
        <h4 for="passWord">Password</h4>

        <input type="password" class="form-control" id="txtPass" value="{{edtUser.password}}"
          placeholder="Enter new Password" formControlName="passWord" [(ngModel)]="edtUser.password"
          [ngClass]="{'is-invalid':form.get('passWord').touched && form.get('passWord').invalid}">

        <div style="color: red;" *ngIf="form.get('passWord').touched && form.get('passWord').invalid"
          class="invalid-feedback">
          <div *ngIf="form.get('passWord').errors.minlength">Password must be at least 3 charector</div>
        </div>
        <h4 for="email">Email</h4>
        <input type="email" class="form-control" formControlName="Email" id="txtEmail" value="{{edtUser.email}}"
          [ngClass]="{'is-invalid':form.get('Email').touched && form.get('Email').invalid}"
          placeholder="Enter new Email" [(ngModel)]="edtUser.email">
        <div style="color: red;" *ngIf="form.get('Email').touched && form.get('Email').invalid"
          class="invalid-feedback">
          <div *ngIf="form.get('Email').errors.required">Email is required</div>
          <div *ngIf="form.get('Email').errors.email">Email must be a valid email Address</div>
        </div>
        <h4>Role</h4>
        <select class="form-control" id="selectRole">
          <option selected></option>
          <option>Guess</option>
          <option>Admin</option>
          <option>Manager</option>
        </select>
      </div>
      <div class="btn-submit">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </form>
</div>
