<div class="container" *ngIf="dataLoaded">
  <div class="row">
    <h2>Admin</h2>
  </div>

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <div class="row">
        <input type="text" class="input-subject" [(ngModel)]="txtSubject" (keydown)="keydown_txtSubject($event)">
        <button class="btn btn-subject btn-success" (click)="addSubject()">Add</button>
        <button class="btn btn-subject btn-primary" (click)="editSubject()" [disabled]="clickedSubject == ''" >Edit</button>
        
      </div>

      <div class="row">
        <table class="table table-striped table-class">
          <thead>
            <tr>
              <th>
                Subject Name
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of subjects">
              <td (click)="clickSubject(s)">
                {{ s }}
              </td>
              <td>
                <button class="btn btn-warning" (click)="delSubject(s)">X</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 set-height">
      
      <div class="row">
        <label>Min age</label>
        <input type="number" class="form-control" min="10" step="1" [(ngModel)]="configs.min_age" />
      </div>
  
      <div class="row">
        <label>Max age</label>
        <input type="number" class="form-control" 
        min="{{ configs.min_age + 1 }}" 
        max="100" 
        step="1" value="40" [(ngModel)]="configs.max_age" />
      </div>
  
      <div class="row">
        <label>Validity for</label>
        <input type="number" class="form-control" min="1" max="20" step="1" value="10"
          [(ngModel)]="configs.max_month_account_expire" />
      </div>
      
      <div class="row">
        <label>The gap of published year</label>
        <input type="number" class="form-control" min="1" max="20" step="1" [(ngModel)]="configs.max_year_publised" />
      </div>

      <div class="row">
        <label>Maximun borrowed books</label>
        <input type="number" class="form-control" min="1" max="10" step="1" [(ngModel)]="configs.max_book_borrow" />
      </div>

      <div class="row">
        <label>Maximun borrowed days</label>
        <input type="number" class="form-control" min="1" max="30" step="1" [(ngModel)]="configs.max_date_borrowed" />
      </div>

      <div class="row set-bottom" style="margin-top: 10px;">
        <button class="btn btn-confirm">Save</button>
      </div>

    </div>
  </div>