<div class="container" *ngIf="dataLoaded">
    <div class="row btn-box">

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a>Account Management</a>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a>Book Management</a>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a>All Borrowed</a>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        min age
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        max age
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        validity for
      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        <div class="row">
          <input type="text">
          <button>Add</button>
          <button>Edit</button>
        </div>

        <div class="row">
          table
        </div>

      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        The gap of published year
      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <select>Maximun borrowed books</select>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <select>Maximun borrowed date</select>
      </div>

    </div>

</div>
