.row img{
  padding: 24px 24px 20px 20px;
  min-width: 500px;
  min-height: 400px;
  max-height: 450px;
  background: #fff;
}
.row{
  display: flex;
  flex-wrap: wrap;
  border: 0.7px solid #f7f7f7;
  border-radius: 0 0 4px 4px ;
  margin-top: 20px;
  background-color: #e8e2d3;
  width: 100%;
  height: auto;
}
.row .btn-them {
  padding-top: 30px;
  padding-left: 30px;
  border-top: 1px solid #f7f7f7;
}
.row .left-box{
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #f7f7f7;
}
.image-box{
  border-right: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}
.row .book-title{
  padding-left: 30px;
  height: auto;
}
.price-box{
  padding-left: 350px;
  color: green;
  border-top: 0.7px solid #f7f7f7;
}
.btn-outline-secondary{
  margin: 10px;
}
