<head>
  <base href="/Book" />
</head>
<div class="container">
  <div class="row" *ngIf="dataAvaialbe">
    <div class="hover14 column col-xs-6 col-sm-6 col-md-6 col-lg-6 image-box">
      <br />
      <figure>
        <img
          src="{{ bookDetail.image }}"
          class="img-responsive"
          alt="{{ bookDetail.name }}"
        />
      </figure>
      <br />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left-box">
      <div class="book-title">
        <h1 style="color: green;">Name: {{ bookDetail.name }}</h1>
        <h3>Author: {{ bookDetail.author }}</h3>
        <h3>Subject: {{ bookDetail.subjects.join(' - ') }} </h3>
        <h3>Publisher: {{ bookDetail.publisher }}</h3>
        <h3>Year released: {{ bookDetail.year_released }}</h3>
      </div>

      <div class="btn-them">
        <button
          type="button"
          class="btn btn-success"
          [disabled]="!isAvaiable"
          *ngIf="btnBorrowText != ''"
          (click)="btnBorrowClick()"
        >
          {{ btnBorrowText }}
        </button>
        <div class="btn-option" *ngIf="btnBorrowText == 'Wait To Get'">
          <button
            type="button"
            class="btn btn-danger"
            (click)="btnCancelOrder()"
          >
            Cancel
          </button>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-outline-secondary" (click)="onBack()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
