h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;
  color: #1D3C26;
  font-weight: 900;
}
hr{
  border-top: .1rem solid #1D3C26;
}
form{
  position: relative;
  padding: 2rem;
  text-align: center;
  height: auto;
  box-sizing: border-box;
  border-radius: 2rem;
  background-color: #EADFCE;
  opacity: 10;
  margin-top: 3rem;
}
button[type="submit"]
{
  border: none;
  outline: none;
  height: auto;
  width: 150px;
  color: #EADFCE;
  font-size: 20px;
  background: #1D3C26;
  cursor: pointer;
  border-radius: 20px;

}
button[type="submit"]:hover{
  font-weight: 700;
  background: #578F53;
}
/* .row-columns input[type="text"],
.row-columns input[type="password"],
.row-columns input[type="email"],
.row-columns input[type="date"]
{
  margin: 10px;
  width: 250px;
  height: 35px;
  color: rgb(5, 5, 5);
  font-size: 16px;
} */
label{
  font-size: 16px;
  max-width: 70%;
  min-width: 50%;
}
/* #address{
  height: 100px;
  padding-top: 0;
} */

.container{
  width:unset;
}
.row{
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

