.info-box {
    border-radius: 7px ;
    border: 1px solid black;
    width: 100%;
    background-color: rgb(245, 233, 233);
    opacity: 10;
    margin-top: 10px;
  }
  .info-detail{
    margin-left: 35px;
    margin-right: 35px;
  }
  h4 {
    font-weight: bold;
    line-height: 30px;
  }
  .list-borrowed{
    height:200px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    margin-bottom: 20px;

    width: auto;
    border-top: 1px solid #ddd
  }
  th {
    background: brown;
    color: #fff;
    }
table th , table td{
    text-align: center;

    }
.edtButton{
  margin:10px;
}
