<div *ngIf="dataLoaded" class="container">
  <form>
    <div class="info-box">
      <div style="border-bottom: 1px solid black; border-radius: 4px;">
        <h2 style="text-align: center;">Account Information</h2>
      </div>
      <div class="info-detail">
        <h4>User name: {{ user.username }}</h4>
        <h4>Email: {{ user.email }}</h4>
        <h4>Date of birth: {{user.birth}}</h4>
        <h4>Address: {{user.address}}</h4>
        <h4>Created Date: {{user.date_created}}</h4>
        <h4>Expired Date: {{user.date_expire}}</h4>
        <h4 style="color: red;">Borrowed History</h4>
        <div class="list-borrowed">
          <table class="table table-striped table-class">
            <thead>
              <tr>
                <th>Detail</th>
                <th>Book</th>
                <th>Status</th>
                <th>Borrowed Date</th>
                <th>Expired Date</th>
                <th>Returned Date</th>
                <th>Fee</th>
                <th>Paid</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let borrowed of user.history_borrowed">
                <td>
                  <button
                    type="button"
                    class="btn btn-info"
                    [routerLink]="['/Borrowed', borrowed._id]"
                    routerLinkActive="router-link-active"
                  >
                    i
                  </button>
                </td>
                <td>
                  <a [routerLink]="['/Book', borrowed.bookId]">{{
                    borrowed.bookId
                  }}</a>
                </td>
                <td>{{ borrowed.status }}</td>
                <td>{{ borrowed.date_borrow }}</td>
                <td>{{ borrowed.date_expire }}</td>
                <td>{{ borrowed.date_return}}</td>
                <td>{{ borrowed.fee}}</td>
                <td>{{ borrowed.paid}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="edtButton">
        <button
          class="btn btn-info"
          type="submit"
          [routerLink]="['/EditAccount']"
          *ngIf="!isAdmin"
        >
          Edit Account
        </button>
        <button
            type="button"
            class="btn btn-info"
            [routerLink]="['/EditAccount', user.username]"
            routerLinkActive="router-link-active"
            *ngIf="isAdmin"
          >
            EditAccount
          </button>
      </div>
    </div>
  </form>
</div>
