
<div *ngIf="dataLoaded" class="container">
    <form>

        <div class="info-box">
            <div style="border-bottom: 1px solid black; border-radius: 4px;">
                <h2 style="text-align: center;">Account Information</h2>
            </div>
            <div class="info-detail">
                <h4>User name: {{ user.username }}</h4>
                <h4>Email: {{ user.email }}</h4>
                <h4>Borrowed History</h4>
                <div class="list-borrowed">
                    <table class="table table-striped table-class">
                        <thead>
                            <tr>
                                <th>Book</th>
                                <th>Borrowed Date</th>
                                <th>Expired Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let borrowed of user.history_borrowed">
                                <td><a [routerLink]="['/Book', borrowed.bookId]">{{ borrowed.bookId }}</a></td>
                                <td>{{ borrowed.date_borrow }}</td>
                                <td>{{ borrowed.date_expire }}</td>
                                <td>{{ borrowed.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="edtButton">
              <button class="btn btn-success" type="submit"  [routerLink]="['/EditAccount']"  >Edit Account</button>
            </div>
        </div>
    </form>
</div>
